.container {
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #a1a1ff;
  position: absolute;
  top: 20%;
  left: 50%;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.show {
  width: 100vw;
  height: 100vh;
  background: url('./hh.gif') no-repeat center;
  background-size: cover;
}